.info{
    width: 85%;
    margin: auto;
    margin-bottom: 5%;
}
.info_content{
    display: flex;
    margin-top: 5%;
}
.info_content img{
    width: 700px;
}
.info_content div{
    padding-left: 2%;
    margin-top: 5%;
}
h2{
    text-align: left;
}
.call{
    border: none;
    background-color: #fff;
    border: 1px solid blue;
    width: 10%;
    height: 5vh;
    border-radius: 25px;
    margin-left: 55%;
    margin-top: 5%;
}
.call a{
    text-decoration: none;
    padding: 5% 15%;
    color: black;
}