.sign h1{
    text-align: center;
}
.signForm input{
    width: 30%;
    height: 5vh;
}
.password{
    margin-top: 2%;
}
.btn{
    margin-top: 4%;
}
.close{
    margin-left: 16%;
    height: 7vh;
    width: 7%;
    border: none;
    background-color: #fff;
}
.close:hover{
    border: 1px solid red;
    border-radius: 25px;
    color: red;
}
.signIn{
    margin-left: 2%;
    height: 7vh;
    width: 7%;
    border: none;
    background-color: #fff;
}
.signIn:hover{
    border: 1px solid blue;
    border-radius: 25px;
    color: blue;
}