*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page{
  padding: 55px 8%;
}
.title{
  font-weight: 500;
  font-size: 40px;
  line-height: 30px;
  color: #000000;
  text-align: center;
}
.cards_wrapper{
  margin: 45px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 15px;
  flex-wrap: wrap;
}